.clients{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.client__link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    background-color: transparent;
    fill: #afb1b8;
    @media screen and (max-width: 767px) {
        width: 210px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 226px;
    }

    @media screen and (min-width:1200px) {
        width: 170px;
    }

    &:hover{
        fill: var(--accent-color);
        background-color: var(--c-white);
        border-color: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus{
        fill: var(--accent-color);
        background-color: var(--c-white);
        border-color: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}