@import './logo';
@import './info-nav';

.page-header {
    color: var(--c-white);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
    position: relative;
}
.menu-toggle{
    display: inline-flex;
    background-color: transparent;
    border: none;
}
.menu-toggle .icon-cross{
    display: none;
}
.menu-toggle.js-open-menu .icon-cross {
    display: block;
}
.menu-toggle.js-open-menu .icon-menu {
    display: none;
}
.header-menu__container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--c-white);
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: #212121;
}

.header-block {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 96px;
    }
}
.header-site {
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }
}
.header__logo {
    margin-right: 93px;
}
.header__logo--black {
    color: #000000;
}

.site-nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.site-nav__list {
    display: flex;
}

.site-nav__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
    position: relative;
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--accent-color);
    }

    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link--current {
    &:visited {
        color: var(--accent-color);
    }

    &::after {
        content: " ";
        background-color: var(--accent-color);
        display: inline-block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}